/*EmployeeRatingList App Styles*/
/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/webfonts/earlyaccess
 */
/*@font-face {*/
/*font-family: 'Droid Arabic Kufi';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),*/
/*url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.woff) format('woff'),*/
/*url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.ttf) format('truetype');*/
/*}*/

/*@font-face {*/
/*font-family: 'Droid Arabic Kufi';*/
/*font-style: normal;*/
/*font-weight: 700;*/
/*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),*/
/*url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.woff) format('woff'),*/
/*url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.ttf) format('truetype');*/
/*}*/
* {
    font-family: 'Tajawal', sans-serif !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif !important;
}

a {
    text-decoration: none;
}

.employee-extra-list .employee-extra-list-item span {
    width: 100px;
    display: inline-block;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.salary-report-table > .table > div {
    overflow-x: scroll;
}