.announcement {
    padding: 16px;
}

.announcement-header {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.announcement-header .left-part {
    display: flex;
    flex-direction: column;
}

.announcement-header .left-part span {
    text-align: left;
    font-size: 9px;
}

.announcement-header span button {
    padding: 0;
}

.announcement .files li {
    text-align: right;
}