.grid-item {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.grid-item .image {
    padding: 8px;
    text-align: center;
}

.grid-item .image img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
}

.grid-item .details {
    padding: 8px;
}

.avatar-with-title {
    display: flex;
}

.avatar-with-title .title-container {
    margin-right: 8px;
}

.avatar-with-title .title-container .title {
    font-size: 13px;
    display: block;
    white-space: nowrap;
}

.avatar-with-title .title-container .subtitle {
    font-size: 11px;
    display: block;
    white-space: nowrap;
    color: #AAAAAA;
}

table th, table td {
    color: #111 !important;
    text-align: right !important;
}

.table td, .table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th span, table td span {
    color: #111111 !important;
    text-align: right !important;
}

.table {

}

.selectable-row-table tbody tr {
    cursor: pointer !important;
}

.table div[role=toolbar] > div {
    text-align: left;
}

.table div[role=toolbar] > div h2 {
    text-align: right;
}

div[role=document] span {
    color: #777777;
}
