.app {
    height: 100vh;
    display: flex;
}

.main {
    background: #FAFAFA;
    flex: 4;
    overflow-y: scroll;
}

.main-panel {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding: 16px;
    box-sizing: border-box;
}

.header-right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-button {
    background: #EE6C6B !important;
    color: #FFFFFF !important;
}

.drawer {
    box-sizing: border-box;
    background: #5343CF;
    width: 256px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-Y: scroll;
    min-height: 100vh;
}

.drawer-username {
    color: #AAAAAA !important;
    direction: ltr !important;
}

.drawer-image {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    border: none;
    align-self: center;
    background: #EEE;
}

.drawer-item {

}

.drawer-item-primary {
    color: #FFFFFF !important;
    font-size: 13px !important;
    text-align: right;
}

.header {
    box-sizing: border-box;
    min-height: 60px;
    /*box-shadow: 0 1px 1px #888888;*/
    padding: 16px;
    /*background: #FFFFFF;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-loading-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}