.login_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #651fff;
    color: #FFFFFF;
}

.login_card {
    width: 400px;
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    .login_card {
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    .login_card {
        width: 100%;
    }
}

.ar-adornment {
    margin-right: unset !important;
    margin-left: 8px;
}
