textarea[class^="Textarea"] {
    background: #EEEEEE;
    padding: 8px;
}

label[class*="MuiInputLabel-outlined"] {
    transform: translate(-10px, -6px) scale(0.75) !important;
    transform-origin: top right;
}

label[class*="MuiFormLabel-root"] {
    color: #111111;
}

div[class*="WithUtils-DateTextField--input"] {
    align-items: center;
}

table[class*="MuiTable-root"] caption {
    display: none;
}

label[class*="MuiInputLabel-shrink"] {
    transform: translate(0, 1.5px) scale(1) !important;
    transform-origin: top left !important;
    font-size: 12px;
}

label[class*="MuiFormControlLabel"] {
    margin-right: -14px;
    margin-left: 16px;
}

.MuiLinearProgress-bar {
    transform-origin: right !important;
}

.MuiRadio-root {
    color: unset !important;
}