div[class^="MuiSnackbarContent-action"] {
    margin-right: auto !important;
    padding-right: 24px !important;
    padding-left: 0 !important;
    margin-left: -8px !important;
}

div[class^="MuiSnackbarContent-action"] div[class^="MuiTypography-root"] {

}

div[class^="MuiSnackbar-root"].success div[class^="MuiTypography-root"] {
    background: #4caf50;
}

div[class^="MuiSnackbar-root"].error div[class^="MuiTypography-root"] {
    background: #e91e63;
}

div[class^="MuiSnackbar-root"].warning div[class^="MuiTypography-root"] {
    background: #ffeb3b;
}

div[class^="MuiSnackbar-root"].warning #message-id {
    color: #111111 !important;
}

div[class^="MuiSnackbar-root"].info div[class^="MuiTypography-root"] {
    background: #03a9f4;
}

