.material-text-field label, label[class^="MuiFormLabel"] {
    left: unset !important;
    right: 0 !important;
}

.material-text-field, div[class^="MuiGrid-item"] div[class^="MuiFormControl"] {
    width: 100%;
}

div[class^="MuiInputAdornment"] {
    margin-left: 0;
}

div[class^="MuiPickersTimePicker-ampmSelection"] {
    margin-right: 20px;
    margin-left: -20px;
}